/*body {
  background: hsl(159, 38%, 67%);
}*/
/*------- Reset---------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: nome;
}
img {
  width: 100%0;
  height: auto;
}
/*---- variables------*/
:root {
  --header-right: 4.5 rem;

  --bue: 240;
  --base_color: hsl(var(--bue) 36% 57%);
  --base_color_second: hls(var(--bue) 65% 88%);
  --base_color_alt: hsl(var(var(--bue) 57% 53%));
  --title_color: hsl(var(--bue) 41% 10%);
  --text_color: hsl(0 0% 46%);
  --text_color_rigth: hsl(0 0% 98%);
  --body_color: hsl(0 0% 98%);
}

/*----------Base---------*/

body {
  font: 400 1rem 'DM Sans', sans-serif;
  color: var(--text_color);
  background: var(--body_color);
  -webkit-font-smoothing: antialiased;
}
h1 {
  font: 700 1.85rem 'poppins';
  color: var(--title_color);
  -webkit-font-smoothing: antialiased;
}
button {
  background-color: var(--base_color);
  color: var(--text_color-light);
  height: 3.5rem;
  display: inline-flex;
  align-items: center;
  padding: 0 2rem;
  border-radius: 0.25rem;
  font: 500 1rem;
  transition: background 0.3s;
}
.button:hover {
  background: var(--base_color_alt);
}
.divider-1 {
  height: 1px;
  background: linear-gradient(
    270deg,
    hsla(var (--hue) 36%, 57%, 1) 0% hsla(var(--hue) 65%, 88%, 0.34) 100%
  );
}
/*-----Layout------*/
#header {
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 2rem;
  display: flex;

  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100%;
  background-color: var(--base_color);
}
nav {
  height: var(--header-right);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.logo {
  font: 700 1.31rem 'poppins', sans-serif;
  color: var(--title_color);
}
.logo span {
  color: var(--base_color);
}
main {
  margin-top: var(--header-right);
}

.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
.grid {
  display: 5rem 0;
  gap: 2rem;
}
.section {
  padding: 5rem 0;
}
/*-----Home -----*/
#home {
  overflow: hidden;
}
#home.container {
  margin: 0;
}
#home .image {
  position: relative;
}
#home .image::before {
  content: 'qualquer  coisa';
  height: 100%;
  width: 100%;
  background: var(--base_color_second);
  position: absolute;
  top: -16%;
  left: 16.7%;
  z-index: 0;
}
#home .text {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  text-align: center;
}
#home .image img {
  position: relative;
  right: 2.93rem;
}
#home .image::before {
  border-radius: 0.25rem;
}
#home .text p {
  margin-bottom: 2rem;
  max-width: 100%;
}
#home .text h1 {
  margin-bottom: 2rem;
}
